<h1>Show</h1>


<%= kramdown @article.title %>
<%= kramdown @article.content %>

<%= link_to 'Edit', edit_article_path(id: @article.id)%>
<%= link_to 'Delete', article_path(id: @article.id), method: :delete%>
<%= link_to 'List All', articles_path%>
